trigger:
- main

pool:
  name: Default   # Self-hosted agent (Tomcat + SonarQube yahin installed)

variables:
  MAVEN_OPTS: "-Xmx1024m"
  TOMCAT_HOME: "C:\\Tools\\tomcat\\apache-tomcat-9.0.113"
  WAR_NAME: "JavaLoginShowcase-1.0.0.war"

stages:

# ==================================
# STAGE 1: SONARQUBE ANALYSIS
# ==================================
- stage: Sonar
  displayName: SonarQube Analysis
  jobs:
  - job: SonarJob
    displayName: Sonar Scan
    steps:
    - task: SonarQubePrepare@5
      displayName: Prepare SonarQube
      inputs:
        SonarQube: 'sonar-qube'
        scannerMode: 'CLI'
        configMode: 'file'

    - task: SonarQubeAnalyze@5
      displayName: Run SonarQube Analysis

    - task: SonarQubePublish@5
      displayName: Quality Gate
      inputs:
        pollingTimeoutSec: '300'

# ==================================
# STAGE 2: BUILD (MAVEN WAR)
# ==================================
- stage: Build
  displayName: Build WAR
  dependsOn: Sonar
  condition: succeeded()
  jobs:
  - job: BuildJob
    displayName: Maven Build
    steps:
    - task: Maven@4
      displayName: Maven Clean Package
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        publishJUnitResults: true

    - task: PublishPipelineArtifact@1
      displayName: Publish WAR Artifact
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/target'
        artifact: 'war-drop'

# ==================================
# STAGE 3: DEPLOY TO TOMCAT
# ==================================
- stage: Deploy
  displayName: Deploy to Tomcat
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployJob
    displayName: Tomcat Deployment
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: Download WAR
      inputs:
        artifact: 'war-drop'
        path: '$(System.DefaultWorkingDirectory)/deploy'

    - powershell: |
        Write-Host "Stopping Tomcat"
        & "$(TOMCAT_HOME)\bin\shutdown.bat"
        Start-Sleep -Seconds 10

        Write-Host "Deploying WAR"
        Copy-Item "$(System.DefaultWorkingDirectory)\deploy\$(WAR_NAME)" `
                  "$(TOMCAT_HOME)\webapps\JavaLoginShowcase.war" -Force

        Write-Host "Starting Tomcat"
        & "$(TOMCAT_HOME)\bin\startup.bat"
      displayName: Deploy WAR to Tomcat
